#entryForm{
    background-color: #54a399;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    width: 60dvw;
    height: 64.5dvh;
    padding: 8dvh 6dvh 6dvh 6dvh;
    margin: 20px 0dvh;
    border-radius: 0px 20px 20px 0px;
}
.entryDisplay0{
    opacity: 0;
}
.entryDisplay1{
    opacity: 1;
}


#entryForm h2{
    max-width: fit-content;
    margin-bottom: 16pxpx;
    font-size: 30px;
    color: #1c4b42;


}

#entryForm input{
    font-size: 16px;
    color: #1c4b42;
    border: none;
    width: 40dvw ;
    height: 6dvh;
    margin: 6px;
    font-weight: 600;
    padding-left: 8px;
    border-radius: 8px ;
}
#entryForm input:focus{
    outline: none;
    border: 1px solid #ffa200;
    transform: scaleY(1.015);
}
#entryDescr{
    font-size: 18px;
    color: #1c4b42;
    border: none;
    width: 40dvw ;
    height: 6dvh;
    margin: 6px;
    font-weight: 600;
    padding-left: 8px;
    border-radius: 8px ;
    overflow-wrap: break-word;
    resize: none;

}

#entryDescr:focus{
    outline: none;
    border: 1px solid #ffa200;
    height: 14dvh;
    transform: scaleY(1.015);
    overflow-wrap: break-word;
    animation: enlarge 0.5s ease-in-out;
    
}
#entryDescr:not(:focus){
    height: 6dvh;
    animation: shrink 0.1s ease-in-out;
}


#entryButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: fit-content;

}

#entryForm button{
    cursor: pointer;
    background-color: #1c4b42;
    border: 1px solid #1c4b42;
    padding: 0.4rem 1rem;
    margin: 10px;
    color: #c6f4f2;
    border-radius: 8px;
    font-size: 18px;
}

#entryForm button:hover {
    background-color: #0e7a6b;
    border-color: #177f71;
}

#entryForm button:active{
    transform: scale(0.98) ;
}

@keyframes enlarge {
    0% {
        height:6dvh
    }
    100% {
        height: 14dvh;
    }
}
@keyframes shrink {
    0% {
        height:12dvh;
    }
    100% {
        height: 6dvh;
    }
}