#entryPage{
    background-color: transparent;
    border:none;
    margin: 0;
    padding: 0;    
    height: 0;
    z-index: 1;
    position: relative;
    top:-5dvh;
    left:-3dvw;
}

#entryForm{
    background-color: #54a399;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    width: 60dvw;
    height: 65.5dvh;
    min-width: 20dvh;
    margin-right: 10px;
    padding: 2dvh 6dvh 10dvh 6dvh;
    margin: 20px 0dvh;
    border-radius: 0px 20px 20px 0px;
}

/* .entryDisplay0{
    opacity: 0;
}
.entryDisplay1{
    opacity: 1;
} */


#entryForm h2{
    max-width: fit-content;
    margin-bottom: 16pxpx;
    font-size: 30px;
    color: #1c4b42;


}
#entryDateDiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 60dvh;
    background-color: white;
    border-radius: 8px;
}
#entryDatePara{
    margin:6px;
    margin-right: 0;
    padding:8px;
    font-size: 16px;
    font-weight: 600;
    color : #1c4b42;
}

#entryTitle{
    font-size: 16px;
    color: #1c4b42;
    border: none;
    width: 20dvw ;
    height: 5dvh;
    margin: 6px;
    font-weight: 600;
    padding-left: 8px;
    border-radius: 8px ;
}
#entryDate{
    font-size: 16px;
    color: #1c4b42;
    border: none;
    width: 15dvw ;
    height: 5dvh;
    margin: 6px;
    font-weight: 600;
    border-radius: 8px ;
}
#entryTitle:focus,#entryDate:focus{
    outline: none;
    border: 1px solid #ffa200;
    transform: scaleY(1.015);
}
#entryDescr{
    font-size: 18px;
    color: #1c4b42;
    border: none;
    width: 40dvw ;
    height: 16dvh;
    margin: 6px;
    font-weight: 600;
    padding-left: 8px;
    border-radius: 8px ;
    overflow-wrap: break-word;
    resize: none;

}

#entryDescr:focus{
    outline: none;
    border: 1px solid #ffa200;
    transform: scaleY(1.015);
    overflow-wrap: break-word;
    transition: ease-in-out 0.4s ;
    /* animation: enlarge 0.5s ease-in-out; */
    
}
/* #entryDescr:not(:focus){
    height: 12dvh;
    animation: shrink 0.1s ease-in-out;
} */

#entryTitle.invalidField,#entryDescr.invalidField,#entryDate.invalidField{
    animation: vibrate 0.2s ease-in-out;
    box-shadow: -.3dvh .3dvh 1dvh rgba(255, 0, 0, 0.9);
    transition: ease-in 0.2s ;
    
}

#errorMsg{
    color: red;
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-left: 6px;
    margin-top: 2px;
    margin-bottom: 6px;
    font-weight: 600;
}
#errorMsg.vibrate{
    animation: vibrate 0.2s ease-in-out ;
}


#entryButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: fit-content;

}

#entryForm button{
    cursor: pointer;
    background-color: #1c4b42;
    border: 1px solid #1c4b42;
    padding: 0.4rem 1rem;
    margin: 10px;
    color: #c6f4f2;
    border-radius: 8px;
    font-size: 18px;
}

#entryForm button:hover {
    background-color: #0e7a6b;
    border-color: #177f71;
}

#entryForm button:active{
    transform: scale(0.98) ;
}

#entryCloseBtn{
    position: absolute;
    top:7dvh;
    right: 7dvh;
}

/* @keyframes enlarge {
    0% {
        height:12dvh
    }
    100% {
        height: 14dvh;
    }
}
@keyframes shrink {
    0% {
        height:12dvh;
    }
    100% {
        height: 6dvh;
    }
} */

/* @keyframes vibrate {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0px);
    }
} */

@keyframes vibrate {
    0% { transform: translateX(0); }
    2% { transform: translateX(-2px); }
    4% { transform: translateX(2px); }
    6% { transform: translateX(-2px); }
    8% { transform: translateX(2px); }
    10% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}
