#mainTask{
    background-color: #54a399;
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 64dvw;
    height: 68dvh;
    min-width: 30dvh;
    margin-right: 10px;
    padding: 2dvh 6dvh 10dvh 6dvh;
    margin: 20px 0dvh;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

/* .mainDisplay0{
    max-width: 0px;
    opacity: 0;
}
.mainDisplay1{
    opacity: 1;
} */

#mainTask h2{
    max-width: fit-content;
    margin-bottom: 0px;
    font-size: 30px;
    color: #1c4b42;

}
#mainTask h5{
    margin: 5px 5px 5px 25px;

}

#mainDescr{
    margin: 0px 5px 4px 6px;
    max-width: 120dvh;
    max-height: 8dvh;
    overflow-wrap:break-word;    
}




#mainTask h3{
    margin: 4px 5px 0px 0px;
    font-size: 24px;
    color: #1c4b42;
    font-weight: 600;
}

#taskInput{
    font-size: 16px;
    color: #1c4b42;
    border: none;
    width: 20dvw ;
    height: 4dvh;
    margin: 6px;
    font-weight: 600;
    padding-left: 8px;
    border-radius: 8px ;
}
#taskInput:focus{
    outline: none;
    box-shadow: inset 0 0 0 .75px #0db391;
    transform: scaleY(1.015);

}
#taskInput.invalidField{
    animation: vibrate 0.2s ease-in-out;
    box-shadow: -.3dvh .3dvh 1dvh rgba(255, 0, 0, 0.9);
    transition: ease-in 0.25s ;
}

#addBtn{
    cursor: pointer;
    background-color: #1c4b42;
    border: 1px solid #1c4b42;
    width: 8dvh;
    height: 5dvh;
    color: #c6f4f2;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    margin: 3px;
    transition: all 0.2s ease-in-out;    
}

#addBtn:hover{
    background-color: #006372;
    border: 1px solid #006372;
    color: #c6f4f2;
    transition: all 0.2s ease-in-out;
}



#tabBtns{
    display: flex;
    flex-direction: row;
    margin-left: 2dvh;
}

.tabSelectedBtn{
    cursor: pointer;
    background-color: #002d2a;
    border: 1px solid #002d2a;
    height: 4dvh;
    width: 19dvh;
    padding: 0rem 1rem;
    margin: 0;
    color: #c6f4f2;
    font-size: 18px;
    border-radius: 8px 8px 0px 0px;
}
/* .tabSelectedBtn:hover{
    background-color: #0b272c;
    border: 1px solid #0b272c;
    color: #c6f4f2;
    transition: all 0.4s ease-in-out;
} */

.tabBtn{
    cursor: pointer;
    background-color: #1c5a4f;
    border: 1px solid #1c5a4f;
    height: 4dvh;
    width: 19dvh;
    padding: 0rem 1rem;
    margin: 0;
    color: #c6f4f2;
    font-size: 18px;
    border-radius: 8px 8px 0px 0px;
}
.tabBtn:hover{
    background-color: #004944;
    border: 1px solid #004944;
    color: #c6f4f2;
    transition: all 0.4s ease-in-out;
}

#mainTask ul{
    padding-left: 0px;
}

#tasksList{
    display: flex;
    flex-direction: row;
    margin-top: -5px ;
    gap: 15dvh;
}