#sideBar{
    background-color: black;
    min-width: 11dvh;
    width: 20dvw;
    height: 70dvh;
    padding: 8dvh 4dvh 8dvh 4dvh;
    margin-left: 0dvh;
    border-radius: 0px 20px 20px 0px;
    z-index: 4;
    
}

#sideBarAddBtn{
  cursor: pointer;
  background-color: #54a399;
  border: 1px solid #54a399;
  padding: 0.6rem .6rem;
  margin-bottom: 10px;
  color: #061e1a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;   
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1dvh;
  height: 2dvh;
  width: 12dvh;
}
#sideBarIcon{
    width: 5dvh;
    height: 5dvh;
}

#sideBarAddBtn:hover {
  background-color: #3c8379;
  border-color: #3c8379;
  transition: all 0.2s ease-in-out;
}

#sideBarAddBtn:active{
    transform: scale(0.98) ;
}

#sideBard h2{
    margin-bottom: 10px;
    font-size: large;
}

#sideBar ul {
    list-style-type: none;
    height : 50vh;
    margin-bottom: 2px;
    overflow-y: scroll;
}
#sideBar ul::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}


#sideBar ul::-webkit-scrollbar-thumb {
    background-color: #176c63; 
    border-radius: 10px;
}
#sideBar ul {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: #176c63 black; 
}

#sideBar li{
    font-size: 18px;
    max-width: fit-content;
    margin-bottom: 8px;
    margin-left: -10px;
    padding: 6px 10px;
    border-radius: 8px;
}

#sideBar li:hover{
    background-color: #5d7b77;
    cursor: pointer;
}